In [1]:
import pandas as pd
patients_df = pd.read_json('https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json')
patients_df.head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Import the `pandas` library as `pd`
import pandas as pd

# Load in the data with `read_csv()`
digits = pd.read_csv("https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json",
                     header=None)

# Print out `digits`
print(digits)

                 0                           1      \
0  [{"water_pay": "no"   "respondent": "community"

                                      2      \
0   "research_asst_name": "Haruna Mohammed"

                                3                          4      \
0   "water_used_season": "year_round"   "_bamboo_dataset_id": ""

                  5                                        6      \
0   "_deleted_at": null   "water_point_condition": "functioning"

                                        7                         8      \
0   "_xform_id_string": "_08_Water_points_CV"   "other_point_1km": "no"

                                               9      ...  \
0   "_attachments": ["north_ghana/attachments/135...  ...

                         30101                            30102  \
0   "water_functioning": "yes"   "_geolocation": ["10.56731484"

             30103                                              30104  \
0   "-1.30751872"]   "water_point_geocode": "10.56731484 -1.307518...

                            30105                         30106  \
0   "deviceid": "355047040129266"   "locations_wards": "builsa"

                            30107                             30108  \
0   "water_manager": "individual"   "water_developer": "individual"

            30109                     30110
0   "_id": 549072   "animal_point": "yes"}]

[1 rows x 30111 columns]

In [3]:
# Inspect the first 5 rows of `digits`
first = digits.head(5)

# Inspect the last 5 rows
last = digits.tail(5)

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_json('https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json')
df

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,no,community,Emmanuel y,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1358151218133.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708,no,local_authority community,Emmanuel y,year_round,,NaT,broken,_08_Water_points_CV,yes,[north_ghana/attachments/1358081512606.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,no,local_authority community,Emmanuel y,year_round,,NaT,broken,_08_Water_points_CV,yes,[north_ghana/attachments/1358081512606.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,no,community,abu seidu,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1358175596571.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,8.923301e+18,6.200101e+14
711,no,community,Sa,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1355488003808.jpg],...,yes,no,manual_power,gravel dirt,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Inspect the first 5 rows of `digits`
first = digits.head(5)

# Inspect the last 5 rows
last = digits.tail(5)

In [7]:
df.head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
water_pay                      712 non-null object
respondent                     712 non-null object
research_asst_name             712 non-null object
water_used_season              712 non-null object
_bamboo_dataset_id             712 non-null object
_deleted_at                    0 non-null datetime64[ns]
water_point_condition          712 non-null object
_xform_id_string               712 non-null object
other_point_1km                712 non-null object
_attachments                   712 non-null object
communities_villages           712 non-null object
end                            712 non-null object
animal_number                  528 non-null object
water_point_id                 712 non-null object
start                          712 non-null object
water_connected                712 non-null object
water_manager_name             708 non-null object
_status                        712 non-null object
enum_id_1                      712 non-null int64
water_lift_mechanism           712 non-null object
districts_divisions            712 non-null object
_uuid                          712 non-null object
grid                           712 non-null object
date                           712 non-null datetime64[ns]
formhub/uuid                   712 non-null object
road_available                 712 non-null object
water_functioning              712 non-null object
_submission_time               712 non-null datetime64[ns]
signal                         712 non-null object
water_source_type              712 non-null object
_geolocation                   712 non-null object
water_point_image              712 non-null object
water_point_geocode            709 non-null object
deviceid                       712 non-null int64
locations_wards                712 non-null object
water_manager                  712 non-null object
water_developer                712 non-null object
_id                            712 non-null int64
animal_point                   712 non-null object
water_mechanism_plate          649 non-null object
water_lift_mechanism_type      649 non-null object
road_type                      334 non-null object
water_mechanism_plate_units    43 non-null object
water_mechanism_plate_no       43 non-null float64
water_not_functioning          87 non-null object
water_source_type_other        3 non-null object
simserial                      5 non-null float64
subscriberid                   5 non-null float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(39)
memory usage: 267.1+ KB

In [9]:
df.columns

Index(['water_pay', 'respondent', 'research_asst_name', 'water_used_season',
       '_bamboo_dataset_id', '_deleted_at', 'water_point_condition',
       '_xform_id_string', 'other_point_1km', '_attachments',
       'communities_villages', 'end', 'animal_number', 'water_point_id',
       'start', 'water_connected', 'water_manager_name', '_status',
       'enum_id_1', 'water_lift_mechanism', 'districts_divisions', '_uuid',
       'grid', 'date', 'formhub/uuid', 'road_available', 'water_functioning',
       '_submission_time', 'signal', 'water_source_type', '_geolocation',
       'water_point_image', 'water_point_geocode', 'deviceid',
       'locations_wards', 'water_manager', 'water_developer', '_id',
       'animal_point', 'water_mechanism_plate', 'water_lift_mechanism_type',
       'road_type', 'water_mechanism_plate_units', 'water_mechanism_plate_no',
       'water_not_functioning', 'water_source_type_other', 'simserial',
       'subscriberid'],
      dtype='object')

In [10]:
df.shape

(712, 48)

In [11]:
df['water_functioning'].value_counts()

yes      623
no        87
na_dn      2
Name: water_functioning, dtype: int64

In [12]:
yes = df['water_functioning'].value_counts()[0]
no = df['water_functioning'].value_counts()[1]

print('{} yes ({}%) vs {} no ({}%) got water'.format(yes,round(yes*100/(yes+no),2),no,round(no*100/(yes+no)),2))

623 yes (87.75%) vs 87 no (12.0%) got water

In [13]:
df['communities_villages'].value_counts().reset_index()

        index  communities_villages
0   Kpatarigu                    51
1       Jagsa                    38
2      Nayoku                    35
3       Guuta                    32
4    Nabulugu                    31
..        ...                   ...
60   Jiniensa                     1
61       Suik                     1
62     Garigu                     1
63    Kalaasa                     1
64  Gumaryili                     1

[65 rows x 2 columns]

In [14]:
df['water_point_condition'].value_counts()

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

In [15]:
community_rank = df[df['water_point_condition']=='broken']['communities_villages'].value_counts().reset_index()
community_rank.columns=['Village','Number Broken']

In [16]:
community_rank

        Village  Number Broken
0        Nayoku              6
1     Loagri_1_              4
2        Kubore              4
3         Arigu              2
4       Zanwara              2
5        Bandem              2
6      Gbaarigu              2
7     Namgurima              2
8       Vundema              2
9           Soo              2
10    Kpatarigu              1
11  Nyankpiensa              1
12        Luisa              1
13        Zogsa              1
14      Tantala              1
15       Longsa              1
16        Kaasa              1
17        Guuta              1
18    Banyangsa              1
19        Jagsa              1
20      Zukpeni              1
21     Kanwaasa              1

In [17]:
percent = df[df['water_point_condition']=='broken']['communities_villages'].value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
percent

Nayoku         15.0%
Loagri_1_      10.0%
Kubore         10.0%
Arigu           5.0%
Zanwara         5.0%
Bandem          5.0%
Gbaarigu        5.0%
Namgurima       5.0%
Vundema         5.0%
Soo             5.0%
Kpatarigu       2.5%
Nyankpiensa     2.5%
Luisa           2.5%
Zogsa           2.5%
Tantala         2.5%
Longsa          2.5%
Kaasa           2.5%
Guuta           2.5%
Banyangsa       2.5%
Jagsa           2.5%
Zukpeni         2.5%
Kanwaasa        2.5%
Name: communities_villages, dtype: object

In [18]:
import pandas as pd
import json
#Read the json from url
df = pd.read_json('https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json')
#Convert to DataFrame
df_data = pd.DataFrame(df)
#Get the broken waterpoints
df_data_broken = df_data[(df_data.water_point_condition) == "broken"]
# Get the functioning waterpoints
df_data_functional = df_data[(df_data.water_point_condition == "functioning")]
number_functional = df_data_functional.water_point_condition.count()

## get the waterpoints per community
total_waterpoints_per_community = df_data[["communities_villages"]].value_counts()
total_waterpoints_df = pd.DataFrame(total_waterpoints_per_community)
total_waterpoints_df.columns = ['Values']

result = total_waterpoints_df.to_json(orient="table")
total_water_points_json= json.loads(result)['data']

water_points_per_community = {}

for i in range(len(total_water_points_json)):
    w_key = total_water_points_json[i]['communities_villages']
    w_value = total_water_points_json[i]['Values']
    water_points_per_community[w_key] = w_value

# Get the community ranking
broken_values = pd.DataFrame(df_data_broken[["communities_villages"]].value_counts())
communities_values =  pd.DataFrame(df_data[["communities_villages"]].value_counts())
broken_values.columns = ['broken_water_points']
communities_values.columns = ['total_water_points']

#reset index for the broken_value and concat the two tables
perce_output = pd.concat([communities_values,broken_values], axis=1)

# fill the Nan Values with Zeroes
perce_output['broken_water_points'] = perce_output['broken_water_points'].fillna(0)

# Compute and add the percentage of broken water points
perce_output["Percentage_of_broken_water_points"] = (perce_output['broken_water_points'] / perce_output['total_water_points']) * 100

# Group Column by Broken Percent to rank from last
perce_output = perce_output.sort_values(by=['Percentage_of_broken_water_points'], ascending=False)


# Convert to data_frame then json_output
final_percent = perce_output['Percentage_of_broken_water_points']
final_percent_df = pd.DataFrame(final_percent)

result_final = final_percent_df.to_json(orient="table")
final_percent_df= json.loads(result_final)['data']

percentage_output = {}

t_len = len(final_percent_df)

for i in range(len(final_percent_df)):
    w_key = final_percent_df[i]['communities_villages']
    w_value = t_len 
    t_len = t_len - 1
    percentage_output[w_key] = w_value

# Create a dictionary to hold the results
result = {}
result['number_functional'] =  number_functional
result['number_water_points'] = water_points_per_community
result['community_ranking'] = percentage_output

result

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [19]:
def waterpoints(url):
  f=requests.get(url)
  json_output = f.json()
  df= pd.DataFrame(json_output,columns=['water_pay' , 'respondent' , 'research_asst_name' , 'water_used_season' , '_bamboo_dataset_id' , '_deleted_at' , 'water_point_condition' , '_xform_id_string' , 'other_point_1km' , '_attachments', 'communities_villages', 'end' , 'animal_number' , 'water_point_id' , 'start' , 'water_connected' , 'water_manager_name' , '_status' , 'enum_id_1' , 'water_lift_mechanism' , 'districts_divisions' , 'uuid' , 'grid' , 'date' , 'formhub/uuid' , 'road_available' , 'water_functioning' , '_submission_time' , 'signal' , 'water_source_type', '_geolocation' , 'water_point_image' , 'water_point_geocode' , 'deviceid' , 'locations_wards' , 'water_manager' , 'water_developer' , '_id' , 'animal_point'])
  number_functional = len(df[df['water_point_condition'].str.contains('functioning')])
  number_water_points = df['communities_villages'].value_counts()
  #number of water points in different conditions

  water_points = df.groupby(['communities_villages', 'water_point_condition']).size().reset_index(name='counts')

  #number of broken water points

  num_broken_water_points = water_points[water_points['water_point_condition'].str.contains('broken')]
  
  # all water points grouped by the communities

  total_water_points =  water_points.groupby(['communities_villages']).sum().reset_index()
  
  #merge total water_points and num_broken_points

  merged_df =  pd.merge(num_broken_water_points,total_water_points , on=['communities_villages'])
  
  #get precentage
  
  merged_df['percent broken'] = merged_df['counts_x']/merged_df['counts_y'] *100
  merged_df['rank'] = merged_df['percent broken'].rank(ascending=True , method='first')
  merged_df.drop(['water_point_condition' , 'counts_x' , 'counts_y' , 'percent broken'] , axis=1 , inplace=True)
  merged_df.sort_values(by='rank', inplace=True)
  return {'number_functional':number_functional , 'number_water_points':number_water_points.to_dict() , 'community_ranking':merged_df}